**/__pycache__/

**/.DS_Store

**/.env

**/audios

**/videos

**/models

services/openvino/models/distil-whisper

script/distil-whisper_distil-small.en/

script/distil-whisper_distil-large-v2/

script/distil-whisper_distil-small.en/

script/distil-whisper_distil-small.en_quantized/