fastapi
ffmpeg-python
pydantic
uvicorn
python-multipart
pydantic-settings
transformers>=4.35
torch>=2.1,<2.4.0
torchvision<0.19.0
onnx<1.16.2
peft==0.6.2
openvino>=2023.2.0
librosa
soundfile
nncf>=2.6.0
jiwer

--extra-index-url https://download.pytorch.org/whl/cpu

git+https://github.com/huggingface/optimum-intel.git